/* media Queries */

/* Laptop */
@media all and (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media all and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .hero {
    font-size: 60%;
  }
}

/* MEDIA TABLET 600PX */
@media all and (max-width: 600px) {
  html {
    font-size: 58%;
  }

  .services .service img {
    width: 100px;
    padding: 0 0;
  }

  .info {
    text-align: center;
  }

  .info .info-one,
  .info-two {
    padding: 20px 50px;
  }

  .info .info-one img,
  .info-two img {
    width: 200px;
    height: 200px;
    padding: 10px 0;
    border-radius: 20%;
  }

  .info .info-one-detail p,
  .info-two-detail p {
    width: 280px;
  }
}

/* Mobile */
@media all and (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .navbar-nav {
    display: none;
  }

  .services .service img {
    width: 80px;
    padding: 0 0;
  }

  .info {
    text-align: center;
  }

  .info .info-one,
  .info-two {
    padding: 20px 50px;
  }

  .info .info-one img,
  .info-two img {
    width: 200px;
    height: 200px;
    padding: 10px 0;
    border-radius: 20%;
  }

  .info .info-one-detail p,
  .info-two-detail p {
    width: 300px;
  }
}

/* MEDIA 420PX */
@media all and (max-width: 420px) {
  .services .service img {
    width: 70px;
    padding: 0 0;
  }
}

/* MEDIA 380PX */
@media all and (max-width: 380px) {
  .services .service img {
    width: 60px;
    padding: 0 0;
  }
}

/* MEDIA 340PX */
@media all and (max-width: 340px) {
  .services .service img {
    width: 50px;
    padding: 0 0;
  }
}

/* MEDIA 300PX */
@media all and (max-width: 300px) {
  html {
    font-size: 40%;
  }

  .services .service img {
    width: 45px;
  }
  .services .service img {
    width: 80px;
    padding: 0 0;
  }

  .info {
    text-align: center;
  }

  .info .info-one img,
  .info-two img {
    width: 150px;
    height: 150px;
    padding: 10px 0;
    border-radius: 20%;
  }

  .info .info-one,
  .info-two {
    padding: 15px 25px;
  }

  .info .info-one-detail p,
  .info-two-detail p {
    width: 200px;
  }
}
