/* media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #humberger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .hero {
    font-size: 60%;
  }
  
    /* FORM */
  .heading {
    font-size: 20px;
  }
  
  /* CONTACT US */
  .contact-us p {
    font-size: 10px;
    line-height: 12px;
    margin-top: 0px;
  }
  
  /* FOOTER */
  footer a {
	  font-size: 12px;
  }
  
  footer h4 {
    font-size: 12px;
    margin: 5px 0px;
  }
  
  footer h3 {
	  font-size: 16px;
  }
  
  .footer-75 p {
    font-size: 12px;
    line-height: 15px;
  }
  
  .footer-100 {
	  height: 100px;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .navbar-nav {
    display: none;
  }

  .services .service img {
    width: 80px;
    padding: 0 20px;
  }
  
  /* FORM */
  .form {
	  display: none;
  }
  
  .form2 {
	  display: inline-block;
  }
  
  input, textarea {
	  margin: 10px auto;
    padding: 10px;
    font-size: 12px;
  }
  
  textarea {
	  height: 100px;
  }
  
  .heading {
    font-size: 18px;
  } 
  
  .message {
    margin: 10px auto;
    border-radius: 18px;
    font-size: 12px;
    font-weight: normal;
  }
  
  /* CONTACT US */
  .contact-us p {
    font-size: 10px;
    line-height: 12px;
    margin-top: 0px;
    letter-spacing: 0px;
  }
  
  .contact {
    padding: 10px;
	  font-size: 12px;
    font-weight: normal;
    border-radius: 18px;
  }

  /* FOOTER */
  footer {
    height: auto;
    text-align: center;
    padding-bottom: 15px;
  }
  
  footer h4 {
	  font-size: 12px;
  }
  
  .footer-left, .footer-50, .footer-75, .footer-100 {
	  display: none;
  }
  
  .footer-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
  }
  
  .mobile-logo {
	  flex: auto;
  }
  
  .footer-flex {
	  margin-top: 0px;
  }
  
  .footer-mobile a, .footer-mobile p {
	  font-size: 12px;
  }
  
  .footer-mobile ul {
    display: flex;
    flex-direction: column;
    flex: auto;
  }
  
  .footer-mobile li {
    list-style-type: none;
    flex: auto;
    margin: 15px 0px;
  }
  
  .mobile-logo a {
	  font-size: 22px;
  }
  
  .mobile-logo h4 {
	  margin: 0px 0px;
  }
  
  .list-header h3 {
    line-height: 16px;
	  margin-bottom: 10px;
  }
  
  .list-header li {
    line-height: 16px;
	  margin: 5px 0px;
  }
  
  .location {
	  line-height: 20px;
  }
  
  .copyright {
    margin-top: 30px;
    font-size: 12px;
  }
}
